.profile-head {
    transform: translateY(5rem)
}



body {
  
    background-size: cover;
  /*opacity: 0.6;*/
    /*background: #a2a1a3;*/
    /*background: linear-gradient(to right, #e96443, #904e95);*/
    min-height: 100vh
}