.profile-head {
  transform: translateY(5rem);
 
  
}
.cover{
  background-image:url('https://images.unsplash.com/photo-1538805060514-97d9cc17730c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA4fHxoZWFsdGh8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60') ;
}



.main {
  background-image:url('https://images.unsplash.com/photo-1606207426669-d7b4fd9c942e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTB8fGJhY2tncm91bmQlMjBoZWFsdGh5JTIwd2hpdGV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');

  background-size: cover;
/*opacity: 0.6;*/
  /*background: #a2a1a3;*/
  /*background: linear-gradient(to right, #e96443, #904e95);*/
  min-height: 100vh
}